.additional-container{
    height: auto;
    background-color: white;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.text-additional{
    padding-top: 2.5rem;
}
.container-item-toggle{
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
}
.flex-item-text{
    margin-left: 2rem;
}
.parent-toogling-container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
     .parent-toogling-container{
         display: block;
     }
}